body{
    
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: rgb(18, 13, 27);
    padding: 0;
    margin: 0; 
}

.navbar-nav{
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 63%;
    justify-content: center;
    height: 100%;
}

.nav-item{
    flex: 1;
    color: white;
    text-align: center;
    padding: .5rem;
    font-family: 'Baloo Bhaina 2', cursive;
}

.nav-item:hover{
    color: #FF4D39;
    border-bottom: 1px solid #FF4D39;
}

.nav-item:hover:first-child{
    border-bottom: none;
}

.nav-item:hover:last-child{
    border-bottom: none;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
}

.nav-link:hover{
    color: #FF4D39;
}

#logo-pokeball{
    
}

#search-pokemon{
    width: 100%;
    height: 1.5rem;
}

#tipos-drop{
    color: white;
}

.invisivel{
    display: none;
}

.conteudo{
    width: 60%;
    background-color: rgba(52, 52, 53, 0.35);
    border-radius: 20px;
    margin: auto;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}
.card{
    background-color: white;
    border-radius: 20px;
    width: 90%;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281);
}

.img-pokemon{
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    background-color: rgb(228, 228, 228);
}

.details{
    padding: 0.3rem 1rem 1rem 1rem;
    
}

.nome-pokemon{
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.numero-pokemon{
    margin-top: 0;
    font-family: 'Audiowide', cursive;
    color: gray;
}

.tipo-pokemon{
    display: inline;
    width: 50%;
}

.normal{

}



.bug{

}

.fight{

}

.ghost{

}

.electr{

}

.flying{

}

.steel{

}

.psychc{

}

.poison{
    width: 100%;
    background-color: #b563ce;
    text-align: center;
    padding: .5rem;
    border-radius: 50px;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 100;
}

.fire{

}

.ice{

}

.ground{

}

.water{

}

.dragon{

}

.rock{

}

.grass{

}

.dark{

}